In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from time import sleep
import getpass

In [2]:
driver =webdriver.Chrome('C:/Users/visan/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.facebook.com/')
driver.maximize_window()

C:\Users\visan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [3]:
user_id='adventurouslife57@gmail.com'
my_password=getpass.getpass()

········

In [4]:
user_name=driver.find_element(By.XPATH,"//input[@type='text']")
user_name.send_keys(user_id)

In [5]:
password=driver.find_element(By.XPATH,"//input[@type='password']")
password.send_keys(my_password)

In [6]:
log_in_button=driver.find_element(By.XPATH,"//button[@name='login']")
log_in_button.click()
sleep(5) # waiting time is 5 seconds so that when the page loads it can wait for few seconds
# this time it may not required but when we run the whole code together in a single cell#
# we might need this one.

### Now we entered into the Facebook homepage.
Next task is to enter inside the profile page.

In [7]:
my_profile=driver.find_element(By.XPATH,"//span[text()='ŠÃn Dhya Evening']")
my_profile.click()
sleep(5)

In [9]:
Friendstab=driver.find_element(By.XPATH,"//span[text()='Friends']")
Friendstab.click()
sleep(3)

### In order to fetch one friend from friendlist:

In [10]:
friendsName=driver.find_element(By.XPATH,"//div[@class='cgu29s5g r227ecj6']")
friendsName.text

'SauJanya GauTam\n126 mutual friends'

### In order to fetch multiple friends:-

In [11]:
friendsName=driver.find_elements(By.XPATH,"//div[@class='cgu29s5g r227ecj6']")
for f in friendsName:
    print(f.text)

SauJanya GauTam
126 mutual friends
Amrit Khadka
15 mutual friends
Kabita Adhikari Regmi
15 mutual friends
Priyanka Acharya
63 mutual friends
Sagar Gurung Tamu
35 mutual friends
Sameeka Chaulagain
NASA International College
Bishal Barai
CQUniversity Australia
Radhika Yadav
2 mutual friends
Buddhi Gautam
158 mutual friends
Sonisha Gautam
97 mutual friends
श्रद्धा ढकाल
89 mutual friends
Maya Gautam
44 mutual friends
Laxmi Gautam
149 mutual friends
Anju Ghimire
50 mutual friends
चालिसे महेश
44 mutual friends
Muna Gautam
77 mutual friends

### We need to fetch more friends

In [12]:
friendsSet=set()
friendsName=driver.find_elements(By.XPATH,"//div[@class='cgu29s5g r227ecj6']")
for f in friendsName:
    friendsSet.add(f.text)
friendsSet

{'Amrit Khadka\n15 mutual friends',
 'Anju Ghimire\n50 mutual friends',
 'Bishal Barai\nCQUniversity Australia',
 'Buddhi Gautam\n158 mutual friends',
 'Kabita Adhikari Regmi\n15 mutual friends',
 'Laxmi Gautam\n149 mutual friends',
 'Maya Gautam\n44 mutual friends',
 'Muna Gautam\n77 mutual friends',
 'Priyanka Acharya\n63 mutual friends',
 'Radhika Yadav\n2 mutual friends',
 'Sagar Gurung Tamu\n35 mutual friends',
 'Sameeka Chaulagain\nNASA International College',
 'SauJanya GauTam\n126 mutual friends',
 'Sonisha Gautam\n97 mutual friends',
 'चालिसे महेश\n44 mutual friends',
 'श्रद्धा ढकाल\n89 mutual friends'}

### Next thing is we need to scroll down the friend list page. in order to do that we have a javascript as:

In [30]:
#driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')

In [13]:
friendsSet=set()
friendsName=driver.find_elements(By.XPATH,"//div[@class='cgu29s5g r227ecj6']")

while True:
    for f in friendsName:
        friendsSet.add(f.text)
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight);')
    friendsName=driver.find_elements(By.XPATH,"//div[@class='cgu29s5g r227ecj6']")# what we do here is
    #we are scrolling down and with the help of friends tag we are storing values in friendsName.
    sleep(5)
    # Since the friendname list will be a lengthy one so, I will fetch only some friends.
    if len(friendsSet)>40:
        break

In [14]:
len(friendsSet)

48

In [15]:
import pandas as pd

C:\Users\visan\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [16]:
df=pd.DataFrame(friendsSet,columns=['name'])

In [19]:
df.head()

                                name
0   Devi Adhikari\n49 mutual friends
1     Maya Gautam\n44 mutual friends
2  Kalpana Paudel\n77 mutual friends
3     Ruja Subedi\n38 mutual friends
4  Buddhi Gautam\n158 mutual friends

In [21]:
# we will convert series into string and then split it. \n means new line
df['name'].str.split('\n').head()

0     [Devi Adhikari, 49 mutual friends]
1       [Maya Gautam, 44 mutual friends]
2    [Kalpana Paudel, 77 mutual friends]
3       [Ruja Subedi, 38 mutual friends]
4    [Buddhi Gautam, 158 mutual friends]
Name: name, dtype: object

In [22]:
df['name'].str.split('\n',expand=True).head()

                0                   1
0   Devi Adhikari   49 mutual friends
1     Maya Gautam   44 mutual friends
2  Kalpana Paudel   77 mutual friends
3     Ruja Subedi   38 mutual friends
4   Buddhi Gautam  158 mutual friends

In [23]:
df_new=df['name'].str.split('\n',expand=True)
df_new.head()

                0                   1
0   Devi Adhikari   49 mutual friends
1     Maya Gautam   44 mutual friends
2  Kalpana Paudel   77 mutual friends
3     Ruja Subedi   38 mutual friends
4   Buddhi Gautam  158 mutual friends

In [28]:
df_new[['name','mutual_friends_count']]=df['name'].str.split('\n',expand=True)
df_final=df_new[['name','mutual_friends_count']]

In [29]:
df_final.head()

             name mutual_friends_count
0   Devi Adhikari    49 mutual friends
1     Maya Gautam    44 mutual friends
2  Kalpana Paudel    77 mutual friends
3     Ruja Subedi    38 mutual friends
4   Buddhi Gautam   158 mutual friends

In [30]:
df_final.to_excel(r'C:\Users\visan\Downloads\csv file.xlsx',index=False)